body{
    text-align: center;
    background-color: cadetblue;
}

form{
    background-color: beige;
    border: 2px solid gray;
    width: 100%;
    border-radius: 20px;
    
}

.btn-1{
    width: 25%; 
}

table, th, td{
    border: 1px solid black;
}
